/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.03.2014., 10:02:11
    Author     : vjezbe4
*/

body{
    /*min-height: 2000px;*/
    /*padding-top: 70px;*/
    padding-top: 40px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #e1e3e4;
    /*background-image: url("../img/bg2.jpg");*/
    
}


a:link{
    color: #3498DB;
}
a:visited{
    color:goldenrod;
}

.navbar-inverse{
    background-color: #d9534f/*#e74c3c*/!important;
    border: none!important;
}
.navbar-inverse .navbar-nav > li > a{
    color:#ffffff!important;
}
header{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #fff;
    display:block;
    background-color: #d9534f/*#e74c3c*/;
    background-repeat: no-repeat;
    height:60px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail{
    background-color: whitesmoke!important;
}
header{
    z-index: 300;
    position: relative;
}
footer{
    background-color: #d9534f/*#e74c3c*/;
    border-top: 2px black solid;
    padding:10px;
    color:#eaeaea;
    text-align: center;
    clear: both;
    bottom:0;
    z-index: 300;
    position: relative;
    display:inline-block;
    width:100%;
}
footer > address > a:link,
footer > address > a:visited,
footer > address > a{
    color:#eaeaea;
}
.validation{
    display: inline-block;
    float:right;
}
#kontakt{
    display: inline-block;
}
#vrijeme_izrade{
    display: flex;  
}
section{
    /*background: floralwhite;*/
    width:100%;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}
a:link{
    color: #3498DB;
}
a:visited{
    color:goldenrod;
}
.form{
    background: #e1e3e4;
}
#admin_content{
    /*height:60vh;
    overflow:scroll;*/
    min-height:340px; 
}
#admin_tools{
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: whitesmoke;
    left: 0;
}
@media only screen and (max-width:998px){
    #admin_tools{
        position: relative;
        background-color: transparent;
    }
}
.well{
    margin-top:100px;
}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

#gallery_sync1 .item{
    padding: 80px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#gallery_sync2 .item{
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#gallery_sync2 .item h1{
  font-size: 18px;
}

#gallery_sync2 .item img{
  width: auto;
  height: 100px;
}
#gallery_sync1 .item img{
  width: auto;
  height: 400px;
}
.btnCustomOffset{
    margin-top:20px;
}
.form-control[readonly]{
    cursor:default!important;
}

